---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/sections/Navigation/Navigation.astro';
import HomeSlider from '../components/sections/Home/HomeSlider.astro';
import HomeAbout from "../components/sections/Home/HomeAbout.astro";
import HomeChoice from "../components/sections/Home/HomeChoice.astro";
import HomeNews from "../components/sections/Home/HomeNews.astro";
import HomeExcursions from "../components/sections/Home/HomeExcursions.astro";
import OurTeam from "../components/sections/Team/OurTeam.astro";
import GoogleMap from "../components/sections/GoogleMap/GoogleMap.astro";
import Footer from "../components/sections/Footer/Footer.astro"


const author = "Maksim Stahovskii";
const page = "Home";
---

<Layout title={page} author={author}/>
        <Navigation/>
        <HomeSlider/>
        <HomeAbout />
        <HomeChoice />
        <HomeNews/>
        <HomeExcursions/>
        <OurTeam/>
        <GoogleMap/>
    </main>
    <Footer author={author}/>
</Layout>




