---
import HeaderBlock from '../Home/blocks/HeaderBlocks.astro';
import NewsCard from '../Home/blocks/NewsCard.astro';
import BtnLink from '../../elements/BtnLink.astro';
---
<section class="news section_padding">
    <div class="container">
        <div class="news-wrapp">
            <HeaderBlock classHeader="center" subtitle="latest posts" title="Astronomy News" />
            <ul class="news-list">
                <NewsCard 
                    id = "1"
                    imagePath = "../../Posts/tahtijoukko.avif"
                    description ="Tahtijoukko"
                    title = "Tietoa tähtitieteestä"
                    annotation = "Tässä tekstissä käsitellään tähtitieteen historiaa ja kehitystä aina 1600-luvulta nykypäivään saakka. Kaukoputkien ja valokuvauksen keksiminen avasi uusia mahdollisuuksia, jotka mullistivat maailmankuvamme ja paransivat havaintomahdollisuuksia. Radiotähtitieteen kehittyminen syvensi ymmärrystämme maailmankaikkeudesta, kun uusia säteilyn muotoja alettiin tutkia. Vaikka moderni tähtitiede perustuu edistyneisiin menetelmiin, tähtiharrastus ja havainnointi paljain silmin ovat edelleen merkittäviä. Suomalaisten amatööritähtiharrastajien panos ammattitutkimuksessa tuo esiin tähtitieteen yhteisöllisyyden ja innostuksen."
                    pubDate = "2024-06-01"
                    pubTime = "12:13"
                />
                <NewsCard 
                    id = "2"
                    imagePath = "../../Posts/galaksit.avif"
                    description ="10 000 galaksia"
                    title = "Galaksit"
                    annotation = "Teksti käsittelee galaksien rakennetta, syntyä ja erilaisten galaksityyppien ominaisuuksia. Galaksit, joita maailmankaikkeudessa on arvioitu olevan ainakin 170 miljardia, koostuvat kaasusta, pölystä, pimeästä aineesta ja tähdistä, ja ne pysyvät koossa painovoiman vaikutuksesta. Ensimmäiset galaksit muotoutuivat alle miljardin vuoden sisällä alkuräjähdyksestä. Spiraaligalaksit, joista Linnunrata on esimerkki, syntyvät nuorten tähtien liikkuessa spiraalihaaroissa, kun taas elliptiset galaksit muodostavat suuren osan galakseista, ollen pääasiassa vanhoista tähdistä koostuvia. Monet galaksien ytimet sisältävät supermassiivisia mustia aukkoja, ja galaksit ympäröi pimeän aineen halo. Galaksien dynamiikka ja kehitys ovat jatkuvasti tutkinnan kohteena, ja galaksien törmäykset ja yhdistymiset ovat merkittäviä niiden kehityksessä ja rakenteen muokkauksessa."
                    pubDate = "2024-08-01"
                    pubTime = "10:13"
                />
                <NewsCard 
                    id = "3"
                    imagePath = "../../Posts/tahdet.avif"
                    description ="Sininen jättiläinen Bellatrix"
                    title = "Tähdet"
                    annotation = "Tähdet ovat hyvin kuumasta kaasusta eli plasmasta muodostuneita valtavia palloja. Tähtien massa koettaa vetää niitä gravitaation voimalla kasaan, mutta tämä kasaanpainuminen nostaa vastaavasti tähden ytimen lämpötilaa ja painetta. Paine vastustaa gravitaation vaikutusta, ja tähti pysyy näin tasapainotilassa."
                    pubDate = "2022-01-12"
                    pubTime = "14:15"
                />
                <NewsCard 
                    id = "4"
                    imagePath = "../../Posts/tahtijoukko.avif"
                    description ="Nuori tähtijoukko NGC 602 sijaitsee Linnunradan pienessä naapurigalaksissa"
                    title = "Tähtien synty ja kehitys"
                    annotation = "Tähdet syntyvät, kun tähtienvälinen kaasu- ja pölypilvi luhistuu kasaan. Pilvi koostuu pääasiassa vedystä, joka on kaikkein kevyin alkuaine. Mukana on myös heliumia, pölyä (noin yksi prosentti) ja hiukan raskaampia alkuaineita"
                    pubDate = "2023-01-12"
                    pubTime = "10:13"
                />
            </ul>
            <BtnLink text="View all posts" />
        </div>
    </div>
</section>

<style>
    .news-wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        gap: calc(var(--gap) * 2);
        margin-top: clamp(1.875rem, -1.45812rem + 6.944vw, 3.75rem);
    }

    @media screen and (max-width: 1199.98px) {
        .news-list {
            gap: calc(var(--gap) * 1.25);
        }
    }

    @media screen and (max-width: 991.98px) {
        .news-list {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 575.98px) {
        .news-list {
            gap: calc(var(--gap) * 0.75);
        }
    }
</style>