---
import HeaderBlock from '../Home/blocks/HeaderBlocks.astro';
import LinkReadMore from '../../elements/LinkReadMore.astro';
import { Picture } from 'astro:assets';
import telescope from "./image/telescope-scaled_1200w.webp";

const aboutLink = "/about";
---
<section class="about">
    <div class="container">
        <div class="about-box section_padding ">
            <section class="about-picture">
                <Picture
                class="about-img" 
                src={telescope} 
                quality={25}
                formats={["avif", "webp" ]} 
                widths={[320, 540, telescope.width]} 
                sizes={`(max-width: 390px) 320px,
                (max-width: 576px) 540px
                        (min-width: 577px) ${telescope.width}px`}
                width={530}
                height={414}

                alt="telescope" />
            </section>
            <section class="about-content-box">
                <div class="about-content">
                    <HeaderBlock
                    classHeader="left"
                    subtitle = "about Us"
                    title ="Tuorlan observatory & Space Park"
                    className="about-title"/>
                    <p class="about-excerpt">
                        Ursan tarkoituksena on tarjota jäsenilleen ja yleisölle selkeä ja nykyaikainen käsitys maailmankaikkeudesta, toimia tähtitieteen ja lähialojen harrastuksen edistämiseksi sekä edistää alansa kouluopetusta ja aikuiskasvatusta.
                    </p>
                </div>
                <LinkReadMore link={aboutLink}>
            </section>
        </div>
    </div>
</section>

<style>
    .about {
        background: var(--color-black);
    }

    .about-box {
        display: flex;
        gap: var(--gap);
        height: max-content;
    }

    .about-picture {
        z-index: 0;
        max-width: min(530px,50%);
        width: 100%;
        min-width: 400px;
        aspect-ratio: 530 / 414;
        overflow: hidden;
        position: relative;
    }

    .about-img {
        width: 120%;
        height: auto;
    }

    .about-content-box {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-excerpt {
        font-family: var(--font-OpenSans);
        font-weight: 400;
        font-size: clamp(0.875rem, 0.37484rem + 1.042vw, 1rem);
        line-height: 175%;
        letter-spacing: 0.01em;
        color: var(--color-DarkGray);

        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: clamp(1.625rem, 0.95664rem + 1.078vw, 2.25rem);
        margin-bottom: 1.25rem;
    }

    .about-link {
        display: block;
        text-transform: uppercase;
        font-family: var(--font-Yanone);
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 160%;
        letter-spacing: 0.1em;
        color: var(--color-orange);
        transition: color 0.5s;
    }

    .about-link:hover {
        color: var(--color-white);
    }


    @media screen and (max-width: 991.98px) {
        .about-box {
            flex-direction: column;
            align-items: center;
        }

        .about-content-box {
            align-items: center;
        }

        .about-picture {
            max-width: 61%;
            min-width: 18.75rem;
        }

        .about-excerpt {
            text-align: center;
        }
    }
</style>